<head>
    <%
        var title= page.title;
        if(is_archive()){
            title = 'Archive';
           }else if(is_category()){
            title = 'Category:'+page.category;
                       }else if(is_tag()){
               title = 'Tag:'+page.tag;
        }
    %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
          <%if(title){ %>
        <%= title%>
        <%}else{%>
            <%= config.title%>
        <%}%>
    </title>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--main css-->
    <%- css('css/main') %>
    <style>
      a {
          color: #<%=theme.link%>;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <!--icon-->
    <% if (theme.favicon){ %>
        <link rel="icon" href="<%- theme.favicon %>">
    <% }%>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script async type="text/javascript">
    $(document).ready(function(){
    //make image responsive
        $("img").addClass("img-responsive");
        $("#comments").hide();
        $("#open_btn").click(function(){
            $("#comments").toggle();
            $("#open_btn").hide();
        });
    });
    </script>
</head>